# Review for Lecture on 13/06/2017 
---

## General remarks: 
---
We will learn about 
  - Elements of a good data visualisation: What makes 
  - Tools available:
    - Python is great! 
    - Matplotlib: The grandfather of most other tools in python. 
    - Numpy: Essential for numerical calculations. 
    - Pandas: provides data storage types such as "DataFrame" (think Pythonic Excel) and "Series" together with tools to manipulate them. 
    - Seaborn: Great for early stage data explorations. 
    - Bokeh, Plotly: interactivity and online tools
    - ...
  - One of the important thing you should learn: How to find and understand the tools you need for your visualisation task. Some useful references for tool in python include
     - Pandas documentation and cookbook: http://pandas.pydata.org/pandas-docs/stable/
     - Matplotlib documentation, gallery: http://matplotlib.org/
     - ... Google will get you there. Read widely and actively to visualisation task to know the keywords to search. Good foundation in algorithmic thinking and knowledge about Python help. 

  
Regarding Data visualisation itself:
  
  - It is a process. 
     - **Exploration**: Analyse your dataset with an open mind. You never know if your assumptions or biases are correct. 
     - **Exposition**. Pin down what you want to inform your audience and then
     - **Design**: think about what is the best way to present them. 
  - Don't make your presentation looks "busy", be aware of your *data-to-ink ratio*. Make sure each element you add into your visualisation serves a purpose and serves it well. 
  - Beware of summary statistics, they can be misleading. Check for outliars. Do a scatter plot, it reveals more structure in the data than summary statistics can. 
  - Encodings (various forms information)
    - numbers and strings (but humans don't process these well, they are for machines)
    - Positions (points in 1, 2 or 3 dimensional space, height, width) 
    - Colours (grey scale, RGB, HLS, HSV, contrasts)  
    - Shape
    - Kinetics (movements or what the brain will intepret as movement) 
    - ...


---
## Running Python for data visualisation
--- 
*Do ask me if you have any issues / questions regarding installing Miniconda and setting up the `dataviz` environment.* 

There are various ways to work with Python. For the purpose of data analysis, here are some popular ones: 

  - Spyder
  - IPython 
  - Jupyter (you're looking at one)

It is highly recommended to develop your code in a controlled "Python environment", i.e. a separate Python interpreter, libraries / packages for each project. This ensure that you know what packages were needed for the project and avoiding polluting the working environment of other projects. `Anaconda` (and `Miniconda` you downloaded in lecture) is serves this purpose as well as providing convenient ways to download the packages you required in a few keystrokes. In lecture, you created the `dataviz` environment using the specification given by `dataviz.yml` which gives you access to standard data analytic packages such as `pandas`, `seaborn`, `numpy`, `scipy` ... When you *activate* the `dataviz` environment using the command ``source activate dataviz``, you have now access to these packages and any modifications will be contained in this environment only. 

---
## On Tidy Data
---
Reference: http://vita.had.co.nz/papers/tidy-data.pdf (by Hadley Wickham)  
80% (so it is said) of data analytic effort goes into tidying up raw data into a form suitable for explorations, analysis, visualisation, etc ... "Tidy data" is about adhering, whenever possible, to a standard or convention of data organisation that link structure of data (for our purpose: rows and columns) to its meaning (variables or observations). 

With the mantra that "all tidy data are alike" (that's why its a standard), we require that tidy data

  - Columns are variables
  - Rows are observations
  - Different tables for different observation unit
Advantage? 

  - It provides a uniform way of thinking and talking about data. 
    - You can talk about "rows" and others will know you're taking about the individual observations. "That is large dataset!" translate to "the data have a lot of rows" which translate to "the data has a lot of observations". Similarly, "this dataset is tall", "that's too many columns!" only make sense when we know what conventions we adhere to.
  - Standard data analysis tools often assume tidy data format. And the code you wrote on your own to analyse the data will be easier to follow if you conform to tidy data convention. 
    - e.g. seaborn.boxplot(data=data) produce a boxplot for each column since it assumes each column corresponds to a variable of interest.





----
#### Notes
----
You might want to be ready to do a simple tidy data example to reinforce their knowledge, and if time permits, a strip/jitter/swarm plot as well.

In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# This command tells Jupyter notebook to always display plots as "inline output". 
%matplotlib inline

---
## Some data tidying
---
Below shows some examples of how I will read the datasets provided in `mbs-datasets` into a Pandas dataframe. I will convert the into tidy form if they are not already in that form. 

These aren't the only correct ways to do it. Some decisions (such as what do use as index columns, what rows to skip) are context dependent and sometimes a matter of style. 


#### Notes:
 
  - A convention that I adopted is to name variables that refer to a ` Pandas.DataFrame ` object with a ` _df ` suffix. 
  - Each of these takes a few trials. You first read in the dataset naively and see what modification you can do to it. To understand the code, it is highly recommended that you try it yourself before you look at what I have done. Do tell me if you strongly disagree with what I have done. 
  - Read (just roughly) documentation of these parsers (e.g. `read_csv`, `read_excel`). 

---

#### Data: `gapminder-health-income.csv`
- The parser will automatically infer that the first row in the file is a header. 
- We manually specify that we only want the columns with index 1 to 4 (i.e. skip the first column). 
- Of these columns the first one (index 0 in the chosen columns, index 1 in the original file) is chosen as the index column
- This is a tidy data.

In [54]:
health_income_df = pd.read_csv("./mbs-datasets/gapminder-health-income.csv", usecols=range(1, 5), index_col=0)
# uncomment the row bellow to see result
#health_income_df

#### Data: `air-quality-exposure.csv`
- Skipped the first row in the file since I consider it a "meta-data". It gives information about what the numbers means. There are various ways to handle this including: recording it some where in your code (e.g. variable name), or you can manually change your dataframe's header to incorporate that information. 
- There are missing data which is noted in the file as `No data`. We can alert the parser about this using the `na_values=` option. If missing data is denoted in more than one ways (e.g. `No data`, `no data`, `null`, `<empty>`), we should alert the parser about all of them so that missing data can be treated uniformly during analysis. 
- Otherwise, this is a tidy data.

In [58]:
air_quality_exposure_2014_df = pd.read_csv("./mbs-datasets/air-quality-exposure.csv", 
                                           skiprows=2, 
                                           index_col=0, 
                                           na_values=['No data'])
#air_quality_exposure_2014_df

#### Data:

In [61]:
pd.read_excel("./mbs-datasets/Journal_publishing_cost_FOIs_UK_universities.xlsx", header=[0, 1])
pd.read_excel("./mbs-datasets/Journalsubscost20152016v3.xlsx")

,Elsevier,Wiley,Springer,Taylor & Francis,De Gruyter,Sage,RSC,IOP,Total (for these eight publishers)
University of Aberdeen,7.678757e+05,254286.02,180968.980,165926.27,965.600,67527.76,22731.77,22821.94,1.483104e+06
Abertay University,5.109810e+04,44060.20,12083.900,20784.00,0.000,29092.30,0.00,0.00,1.571185e+05
Aberystwyth University,2.815634e+05,155577.24,84073.600,101943.50,1793.150,47229.83,3113.02,7346.22,6.826399e+05
Anglia Ruskin University,7.392400e+04,115389.00,2623.000,NaN,NaN,NaN,695.00,NaN,1.926310e+05
University of the Arts London,8.091670e+03,0.00,0.000,2400.00,19397.580,NaN,0.00,0.00,2.988925e+04
Arts University Bournemouth,0.000000e+00,345.52,0.000,7687.64,0.000,1148.82,0.00,0.00,9.181980e+03
Aston University,2.693984e+05,90968.33,22166.850,63974.93,2232.900,36559.20,10607.32,8383.58,5.042915e+05
Bangor University,2.703484e+05,148027.07,78898.380,172098.86,5062.080,68883.64,20153.60,6116.30,7.695883e+05
University of Bath,5.689650e+05,210773.00,113835.000,158201.00,1804.000,103147.00,23214.00,21931.00,1.201870e+06
Bath Spa University,2.100000e+04,NaN,NaN,37500.00,NaN,NaN,0.00,0.00,5.850000e+04
University of Bedfordshire,8.762237e+04,81227.49,9895.580,92924.95,1043.310,62396.74,0.00,0.00,3.351104e+05
"Birkbeck, University of London",1.194690e+05,73715.00,13101.000,52134.00,2978.000,45857.00,1554.00,0.00,3.088080e+05
University of Birmingham,NaN,380154.98,260647.110,309501.61,10223.260,150379.71,24482.00,45993.73,1.181382e+06
Birmingham City University,1.028940e+05,65699.40,2953.440,101732.30,755.800,57271.20,0.00,0.00,3.313062e+05
University College Birmingham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Bishop Grosseteste University,0.000000e+00,14749.00,0.000,34589.00,0.000,7175.00,0.00,0.00,5.651300e+04
University of Bolton,7.219359e+04,21555.51,2809.860,51953.60,0.000,14162.75,0.00,0.00,1.626753e+05
Bournemouth University,1.408320e+05,112964.00,36928.000,132552.00,0.000,86964.00,4025.00,2170.00,5.164350e+05
University of Bradford,3.119004e+05,102818.75,12392.020,12795.00,0.000,2610.49,6331.45,0.00,4.488481e+05
University of Brighton,1.338264e+05,84865.62,10486.370,119495.04,640.190,64641.99,11005.13,0.00,4.249607e+05
University of Bristol,9.964868e+05,480108.17,240048.463,234143.58,10406.714,104997.38,29203.00,69841.11,2.165235e+06
Brunel University,3.518588e+05,145050.79,53998.780,154839.37,751.430,108747.97,1873.27,11547.23,8.286676e+05
Buckinghamshire New University,3.911604e+04,43228.05,1579.070,51197.41,0.000,51433.85,0.00,0.00,1.865544e+05
University of Cambridge,1.411682e+06,476915.00,536326.440,191729.00,27882.660,87017.00,35737.00,60135.00,2.827424e+06
Canterbury Christ Church University,4.723469e+04,63209.81,15604.420,143840.52,269.490,58186.36,0.00,356.93,3.287022e+05
Cardiff University,8.538898e+05,469167.02,96810.930,207065.24,5877.380,165347.72,25798.10,17478.38,1.841435e+06
Cardiff Metropolitan University,8.526867e+04,35223.08,13986.000,48788.71,970.040,36914.18,0.00,356.04,2.215067e+05
University of Central Lancashire,1.665120e+05,71556.00,15066.000,120525.00,0.000,71117.00,3635.00,2910.00,4.513210e+05
Central School of Speech and Drama,9.501500e+02,302.61,0.000,3498.46,0.000,0.00,0.00,0.00,4.751220e+03
University of Chester,5.932808e+04,63369.72,8003.470,94288.23,1021.600,62943.93,14431.63,4024.51,3.074112e+05
...,...,...,...,...,...,...,...,...,...
Stranmillis University College,0.000000e+00,4305.87,1490.730,10277.00,0.000,927.09,0.00,0.00,1.700069e+04
University of St Andrews,3.650190e+05,204858.00,97465.000,184703.00,2883.000,70211.00,20189.00,20949.00,9.662770e+05
St George's University of London,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
University of St Mark and St John,1.454440e+04,15390.23,10064.620,38440.86,0.000,16413.20,0.00,0.00,9.485331e+04
"St Mary's University, Twickenham",1.790109e+04,22430.16,4326.790,35828.98,0.000,14724.08,343.63,0.00,9.555473e+04
University of Stirling,2.252340e+05,138262.00,31571.000,102753.00,357.000,63662.00,0.00,0.00,5.618390e+05
University of Strathclyde,7.744010e+05,256648.00,135204.000,262545.00,1702.000,116735.00,25391.00,44103.00,1.616729e+06
University of Suffolk,5.477333e+04,24489.36,5167.700,8659.37,0.000,9550.66,0.00,0.00,1.026404e+05
University of Sunderland,3.420451e+05,18390.26,14152.050,54114.81,0.000,21564.23,20768.40,0.00,4.710349e+05
University of Surrey,6.748703e+04,NaN,NaN,22222.36,NaN,9639.55,NaN,NaN,9.934894e+04
University of Sussex,4.658390e+05,158447.00,76513.000,133156.00,3994.000,68180.00,23363.00,39621.00,9.691130e+05
Swansea University,5.396050e+05,230158.00,2895.000,52344.00,2076.000,141775.00,15901.00,8749.00,9.935030e+05
Teesside University,NaN,64051.79,8720.900,60524.30,0.000,93814.59,17378.04,0.00,2.444896e+05
Trinity Laban,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
UCL,1.733060e+06,550253.72,435521.760,388750.27,17852.860,163170.00,36341.76,59951.15,3.384902e+06
University of Ulster,6.150538e+05,265857.72,125735.990,196760.80,3082.810,127721.00,0.00,6788.05,1.341000e+06
"University of Wales, Trinity St David",3.502083e+04,22650.28,13435.430,70378.54,696.840,42129.51,306.00,0.00,1.846174e+05
University of Warwick,7.972459e+05,290057.68,218732.480,229441.29,9270.180,116051.74,19162.97,50931.26,1.730894e+06
University of West London,6.898622e+04,26614.21,5050.390,17795.58,0.000,18140.69,0.00,0.00,1.365871e+05
University of the West of England,2.609932e+05,158430.72,30418.070,249259.59,3122.130,128452.88,6758.34,799.96,8.382349e+05
University of the West of Scotland,1.113050e+05,41337.07,NaN,55219.73,105.510,NaN,1478.40,2683.20,2.121289e+05
University of Westminster,1.800749e+05,95961.41,38666.560,111978.34,391.450,70646.83,694.80,0.00,4.984143e+05
University of Winchester,1.154695e+04,23700.63,3392.230,70226.02,0.000,22051.64,0.00,0.00,1.309175e+05
University of Wolverhampton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
University of Worcester,2.304540e+03,51247.73,0.000,5458.00,0.000,2072.00,0.00,0.00,6.108227e+04
Writtle College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
University of York,5.108441e+05,237455.39,155593.820,175864.00,8530.040,93118.76,25143.34,48364.25,1.254914e+06
York St John University,3.337100e+04,40637.83,14346.960,93641.41,1747.740,28747.57,0.00,0.00,2.124925e+05
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total,3.987307e+07,19082515.98,8786775.283,14216885.49,345726.014,8062336.37,1294897.21,1543230.55,9.320543e+07

In [39]:
aap_pm_df = pd.read_excel("./mbs-datasets/AAP_PM_database_May2014.xls", skip_footer=10, sheetname='cities')